@font-face { 
    font-family: 'Bugaki'; 
    src: url('https://23498363.fs1.hubspotusercontent-na1.net/hubfs/23498363/Bugaki-Regular.woff2') format('woff2'), 
    url('https://23498363.fs1.hubspotusercontent-na1.net/hubfs/23498363/Bugaki-Regular.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

.marquee-header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #67E3E2;
    margin-bottom: 20px;
  }
  
  .marquee-header h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 25px;
    animation: marquee 20s linear infinite;
    font-family: 'Bugaki', sans-serif;
    font-weight: 100;
    background-color: #67E3E2;
    color: #FF285F;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  